
/* Folder landing page styles */
body {
    background: linear-gradient(145deg, #72b8ff, #b0cfff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: url('cursor.png'), auto; 
}

/* Folder styles */
.folder {
    width: 150px;
    animation: bounce 2s infinite;
    transition: transform 0.3s ease;
}

.folder img {
    width: 100%;
}

.folder:hover {
    transform: scale(1.1);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    visibility: hidden; /* Hidden initially */
}

.open-folder + .loading-screen {
    visibility: visible;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

