/* General Reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #000000;
    overflow-x: hidden;
}

/* Navbar */
#navbar {
    position: fixed;
    top: -60px; /* Initially hidden */
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: top 0.3s ease;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

#navbar a:hover {
    background-color: #555;
}

/* Navbar visible when scrolled */
#navbar.visible {
    top: 0; /* Show navbar */
}

/* Landing Page Styles */
#landing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    text-align: right;
    padding: 10% 10%;
}

.landing-content {
    display: flex;
    justify-content: flex;
    flex-direction: row;
    text-align: right;
    
}

.left-content {
    margin-bottom: 40px;
    width: 470px;
}

h1 {
    font-size: 10rem;
    font-weight: 900;
    margin: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 3rem;
    color: #888888;
    font-weight: 300;
}

/*about section*/
#about {
    position: relative;
    background-image: url('images/elly.JPEG');
    background-attachment: fixed; /* Parallax effect */
    background-size: 55%;
    background-position: center;
    color: white;
    padding: 500px 20px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
}

.about-text {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    text-align: right;
    padding: 10px;

}

.about-text p {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: rgb(16, 106, 186);
    font-weight: 500;  
}

/* project section*/
#projects{
    padding: 150px 0px 150px 0px; /* More padding for the project section */
    text-align: center;
    margin-top: 80px;
    position: relative;
}

#projects h2 {
    font-size: 3rem;
    margin-bottom: 100px;
    text-align: center;
}

.carousel-container {
    position: relative; /* Needed for positioning the buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide images outside the visible area */
    width: 80%; /* Adjust width as needed */
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    margin: 0px;
}

.carousel-slide img {
    width: 70%;
    height: auto;
    border-radius: 10px;  
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
}

.carousel-controls .prev-btn {
    left: 20px; /* Moves prev button to the left */
}

.carousel-controls .next-btn {
    right: 20px; 
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.see-more-btn {
    display: box;
    text-align: center;
    margin-top: 200px;
    padding: 20px 20px;
    background-color: white;
    color: black;
    border: solid;
    border-radius: 10px;
    text-decoration: none;
    right: 20px;
}

.see-more-btn:hover {
    background-color: #555;
    color: white;
}


/*contact section*/
.contact-section input, .contact-section textarea {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.contact-section {
    background-color: #f5f5f5;
    padding: 150px 50px;
    text-align: center;
}

.contact-section button {
    padding: 15px 30px;
    background-color: white;
    color: black;
    border: solid, lightslategray;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.contact-section button:hover {
    background-color: #555;
    color: white;
}

/* footer*/
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

footer a:hover {
    color: #ddd;
}


@media (max-width: 768px) {
    #about {
        padding: 200px 20px;  
    }

    .about-text {
        position: relative;
        width: 90%;  
        text-align: center;  
    }

    .about-text p {
        font-size: 1.8rem; 
    }

    .contact-section input, .contact-section textarea {
        width: 90%;  
        padding: 12px;  
    }

    .contact-section button {
        width: 90%;  
    }
}
