
body {
    margin: 0;
    background-image: url('snowboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
  }
  
  
  .box {
    position: relative;
    width: 100%;
    max-width: 8000px; 
    margin: 0 auto;
    overflow: hidden;
  }
  
  
  .image {
    width: 100%;
    height: auto;
  }
  
  
  .overlay {
    position: absolute;
    width: 30%;
  }
  
  
  .overlay1 {
    bottom: 20px;
    left: 20px;
  }
  
  
  .overlay2 {
    top: 10px;
    left: 430px;
  }
  
  
  .overlay-image {
    width: 150%; 
    height: 100%;
  
  }
  